.container {
  width: 100%;
  .container-up {
    display: flex;
    justify-content: space-between;
    .row-left {
      width: 75%;
    }
    .row-right {
      width: 25%;

      .preview-img-container {
        .label-upload {
          width: 58%;
          padding: 5px;
          border-radius: 5px;
          background: #ddd;
          cursor: pointer;
          margin-left: 55px;

          &:hover {
            opacity: 0.9;
          }

          i {
            padding: 0 10px 0 5px;
          }
        }

        .preview-image {
          height: 230px;
          width: 98%;
          border: 1px solid #ddd;
          background: center center no-repeat;
          background-size: contain;
          cursor: pointer;
          margin-bottom: 15px;
        }
      }
    }
  }
}
